:root {
    --blue: rgb(48, 173, 227);
}

$blue: rgb(125, 125, 207);

body {
    background: yellow;
}
.page {
    background: rgb(200, 49, 49);
}

.comp1 {
    height: 300px;
    background: yellow;
    border: 1px solid green;
}